$icomoon-font-family: "octoParts" !default;
$icomoon-font-path: "fonts" !default;

$icon-boot-path1: "\e909";
$icon-boot-path2: "\e90a";
$icon-boot-path3: "\e90b";
$icon-more-colours-path1: "\e906";
$icon-more-colours-path2: "\e907";
$icon-more-colours-path3: "\e908";
$icon-coloured-rect-path1: "\e904";
$icon-coloured-rect-path2: "\e905";
$icon-blue-rectangle: "\e903";
$icon-rectangle: "\e900";
$icon-square: "\e901";
$icon-circle: "\e902";

